*.out
bin
build
demo/bin/demo
bench/gin-demo/demo
pack
compile_commands.json
metrics*
*.png
.cache
test_bin
.clangd
*.tar.gz
release
*.a
*.log
*.pid
*.param
deeplearning
.obsidian
blog-home
demo/*/cppnet
demo/*/ssl
cppjson
vegeta*
*.bin
plot.html
